<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  IgnorableNamespaces="uap rescap mp uap3 uap4">

  <Identity
    Name="34261nivcoo.Cesi-EasySave"
    Publisher="CN=3492C66B-3409-4EAF-8741-F87EDED40BAB"
    Version="2.0.21.0" />

  <Properties>
    <DisplayName>Cesi-EasySave</DisplayName>
    <PublisherDisplayName>nivcoo</PublisherDisplayName>
    <Logo>Assets\Icons\cesi_logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Cesi-EasySave"
        Description="EasySave"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Icons\cesi_logo.png"
        Square44x44Logo="Assets\Icons\cesi_logo.png">
        <uap:DefaultTile >
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
      </uap:VisualElements>
    </Application>
  </Applications>

    <Capabilities>
	    <rescap:Capability Name="runFullTrust" />
    </Capabilities>

  <mp:PhoneIdentity PhoneProductId="eba9666b-1f98-489f-a591-83b018a5210a" PhonePublisherId="e5b44317-b17e-417e-bb02-a1ad9517e419"/>

</Package>
